body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: #333;
    color: white;
    border: none;
}

a {
    display: block;
    margin-top: 10px;
}